<h2>All Orders</h2>

<% @payment.each do |pay| %>
  <p>Name: <%= pay.name %></p>
  <p>Email: <%= pay.email %></p>
  <p>Orders Items: </p>
  <ul>
    <% pay.order_items.each do |item| %>
    <li><%= item.quantity %> x <%= item.product.name %></li>
    <% end %>
  </ul>
<% end